body {
  background-color: #FFFAF1;
  font-family: helvetica;
}

h1 {
  text-align: center;
}

h2.intro {
  text-align: center;
}

p.intro {
  word-spacing: 3px;
}

img.intro {
  border: 4px solid black;
}